body{
  background-image: url("bg.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.myform{
  background-color:rgba(0, 0, 0, .5);
  padding: 30px;
  border-radius: 20px;
}

.title{
  font-family: cursive;
  color: #32ff7e;
  font-size: 40px;
  text-align: center;
  border-bottom: 3px solid #32ff7e;
  font-weight: 300%;
}

.field{
  border: 2px solid #32ff7e;
  background-color:rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
}

#fp{
  text-decoration: none;
  color: #ffff00;
  font-size: 18;
  margin: 10px 0;
  
}

#fp:hover{
  color: #ff0000;
}